.header{
  border-bottom: 2px solid black;
  margin: 0;
  height: 10%;
}
.leftMargin,.rightMargin{
  margin: 0;
  width: 15%;
  height: 100%;

}
.leftMargin{
  border-right: 2px solid black;

}
.rightMargin{
  border-left: 2px solid black;
}
.body{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: row;
  width: 70%
}
.middle{
  display: flex;
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
.title{
  text-align: center;
}
#root{
  height: 100%;
}
html, body, #app, #app>div {
  height: 100%
}
