.lineArea{
  width: 100%;
  display: flex;
  margin: 0;
  height: 20px;

}
.noteText{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.lineBox{
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
