.header{
  border-bottom: 4px solid #051014;
  margin: 0;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A599B5;
}
.leftMargin,.rightMargin{
  margin: 0;
  width: 15%;
  height: 100% - 20px;
  background-color: #ACBDBA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.leftMargin{
  border-right: 3px solid #6A6472;

}
.rightMargin{
  border-left: 3px solid #6A6472;

}
.body{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: row;
  width: 70%;
  background-color: #CDDDDD;
}
.middle{
  display: flex;
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
.title{
  height: 100%;
  margin-top: 10px;
  padding-top:3px;
  padding-bottom:3px;
  text-align: center;
  font-size: 150%;
  color: #051014;
  border-top: 2px solid #051014;
  border-bottom: 2px solid #051014;
  margin-bottom: 15px;
}
#root{
  height: 100%;
}
html, body, #app, #app>div {
  height: 100%
}
.mainTipBox{
  width: 90%;
  border: 2px solid #2E2F2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #CDDDDD;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tipBox{
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  border: 2px solid #2E2F2F;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #DCEBEB;
}
.tipHeading{
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  text-align: center;
  border-bottom: 2px solid #A599B5;
}
.tipTitle{
  font-size: 130%;
  border-top: 2px solid #A599B5;
  border-bottom: 2px solid #A599B5;
}
.waitingWheel{
  position: fixed;
  width: 130px;
  height: 130px;
  top:50%;
  left:50%;
  margin-left: -65px;
  margin-top: -65px;
  border: 3px solid #2E2F2F;
  background-color: #A599B5;
  animation: spinClockwise 12s infinite linear;
  border-radius: 3px;

}
.innerWheel{
  width: 80px;
  height: 80px;
  font-size: 25px;;
  text-align: center;
  border: 2px solid #2E2F2F;
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -40px;
  margin-top: -40px;
  animation: spinCounterClockwise 6s infinite linear;
  background-color: #CDDDDD;
  border-radius: 3px;


}
.innerInnerWheel{
  width: 50px;
  height: 50px;
  font-size: 25px;;
  text-align: center;
  border: 2px solid #2E2F2F;
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -25px;
  margin-top: -25px;
  animation: spinClockwise 4s infinite linear;
  background-color: #A599B5;
  border-radius: 3px;

}

@keyframes spinClockwise {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg) }
}
@keyframes spinCounterClockwise {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(-360deg) }
}
